body{
    margin: 0;
}

.background {
               
    width: 100%;
    height: 900px;      
}
h1{
    position: absolute;
    top: 50px;
    left: 620px;
    color:#DD0004;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

h2 {
    position: absolute;
    top:100px;
    left: 670px;
    color:#DD0004;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.profile{
    width: 17%;
    position: relative;
    left :640px;
}

.body {
    background-color: #808080;
    font-family: 'Open Sans', sans-serif;
    color: #0E2954;

}


h3{
    text-align: center;
    line-height: 2;

}

.intro{
    text-align: center;
    width: 30%;
    margin: auto;
}
  
.line {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 6%;
    margin: 60px auto;
  }

  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }

  .code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
  }

  .web-img {
    width: 25%;
    float: right;
    margin-left: 30px;
  }


  .bottom-container {
    background-color: #1b1b1b;
    padding: 50px 0 20px;
  }

.bottom-container{
    text-align: center;
    word-spacing: 20px;
    
}

a{
    color: beige;
}